{
  "extends": [
    "standard"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "mocha"
  ],
  "globals": {
    "describe": true,
    "it": true,
    "expect": true,
    "request": true,
    "before": true,
    "beforeEach": true,
    "after": true,
    "afterEach": true,
    "mockery": true,
    "sinon": true,
    "td": true
  }
}
