name: cd

on:
  release:
    types: [published]

jobs:
  deploy:

    runs-on: ubuntu-latest

    env:
      CI: true
      TF_IN_AUTOMATION: true
      VERSION_COMMIT: ${{ github.sha }}

    steps:
      - name: Set VERSION env var
        run: echo ::set-env name=VERSION::${GITHUB_REF##*/}
      - uses: actions/checkout@v1
        with:
          ref: ${{ github.ref }}
      - uses: actions/setup-node@v1
        with:
          node-version: 12.14
      - uses: azure/docker-login@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build docker image
        run: npm run docker:build
      - name: Push docker image
        run: npm run docker:push
